<div class="chatbox" style="text-align:center;">
    <div class="chatlogs" id ="textBoxID">
        Welcome to the game! You can chat with other players here.

    </div>

    <div class = "chat-form" style="text-align:center;">
        <textarea id="entered-text"></textarea>
        <button id="submit-btn">Enter</button>
    </div>
</div>