{{> round-info }}

<h1>I AM A DRAWER</h1>
<!--- TODO: ATTATCH CANVAS TO UUID--->

<canvas class="drawercanvas" id=""></canvas>

  <div class="colors">
    <div class="color black"></div>
    <div class="color red"></div>
    <div class="color green"></div>
    <div class="color blue"></div>
    <div class="color yellow"></div>
  </div>

{{> firebase-init }}
{{> round-manager }}
<script src="/assets/js/drawer.js"></script>