{{> round-info }}

<h1>I AM A JUDGE</h1>
<canvas class="whiteboard" ></canvas>

  <div class="colors">
    <div class="color black"></div>
    <div class="color red"></div>
    <div class="color green"></div>
    <div class="color blue"></div>
    <div class="color yellow"></div>
  </div>

{{> firebase-init }}
{{> round-manager }}
<script src="/assets/js/judge.js"></script>
