{{> title-html}}

<div class="container-fluid">
  <div >
  <div id="roundInfo" class="d-flex flex-row justify-content-between">
  {{> round-info }}
</div>
<div class="d-flex flex-row flex-wrap canvasContainer">
  
  <canvas class="judgeViewCanvas"></canvas>
  <canvas class="judgeViewCanvas"></canvas>
  <canvas class="judgeViewCanvas"></canvas>
  <canvas class="judgeViewCanvas"></canvas>
</div>
</div>
</div>
{{> firebase-init }}
{{> round-manager }}
<script src="/assets/js/judge.js"></script>