<h1>This is the lobby for game: {{gamecode}}</h1>
<br>
{{#if owner}}
    <button id="start-btn">START</button>
{{/if}}
<br>
<h2>Mode: <span id="sfw"></span></h2>
<h2>Round Count: <span id="roundCount"></span></h2>
<h2>Players:</h2>
<ul id="players">
    
</ul>

{{> firebase-init }}
<script src="/assets/js/firebase_sockets.js"></script>

{{#if owner}}
    <script src="/assets/js/start.js"></script>
{{/if}}