<div class="container">
    {{>title-html}}
    <div class="cardContainer">
        <div class="scene scene--card">
            <div class="card">
                <div class="card__face card__face--front">
                    <div class="hostOrJoin">

                        <button class="hostAndJoinBtn">
                            <span>Host a game</span>
                        </button>
                        <form action="/join/">
                            <button class="hostAndJoinBtn" type="submit" value="join">
                                <span>Join a game</span>
                            </button>
                        </form>
                    </div>
                </div>
                <div class="card__face card__face--back">

                    <form action="/create">
                        <div class="modeWrapper mode" style="margin-right: 15px">
                            <button type="submit" name="SFW" value="false">NSFW</button>
                        </div>
                        <div class="modeWrappermode" style="margin-left: 15px;">
                            <button type="submit" name="SFW" value="true">SFW</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script>
        var card = document.querySelector('.card');
        card.addEventListener('click', function () {
            card.classList.toggle('is-flipped');
        });
    </script>